<%= form_for @product, :url => mains_path, :html => {:multipart => true} do |f| %>
  <div class="form-group">
	  <%= f.label :avatar, "Picture" %>
	  <div class="form_control">
		  <%= f.file_field :avatar %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :title %>
	  <div class="form_control">
		  <%= f.text_field :title %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :price %>
	  <div class="form_control">
		  <%= f.text_field :price %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :description %>
	  <div class="form_control">
		  <%= f.text_field :description %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :price_fixed %>
	  <div class="form_control">
		  <%= select_tag(:price_fixed, options_for_select([
		    [ 'Yes', true],
		    [ 'No', false]
		    ], true)) %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :category_id %>
	  <div class="form_control">
	  	<%= f.select(:category_id) do %>
		  <% @categories.each do |c| -%>
		    <%= content_tag(:option, c.name, value: c.id) %>
		  <% end %>
		<% end %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :condition_id %>
	  <div class="form_control">
		  <%= f.select(:condition_id) do %>
		  <% @conditions.each do |c| -%>
		    <%= content_tag(:option, c.name, value: c.id) %>
		  <% end %>
		<% end %>
	  </div>
  </div>
  <button type="submit" name="commit" class="btn btn-default">Submit</button>
<% end %>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
	<p><%= error %></p>
	<% end %>
<% end %>
