<div id="master_container" class="col-sm-6 col-md-offset-1">
	<div class="panel panel-default">
		  <div id="header" class="panel-body">
			  <h4><%= @seller.name %>'s Offers</h4>
		  </div>
	</div>
		<div class="scroll panel panel-default">
	    	<div id="masonry-container" class="transitions-enabled clearfix">
	          	<%= render @products %>
	    	</div>
	  	</div>
</div>
<div id="master_container" class="col-sm-3 col-sm-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h3 id="asking" class="panel-title text-center">Seller</h3>
		</div>
		<div class="panel-body text-center">
			<img src='https://graph.facebook.com/<%= @seller.uid %>/picture?type=large' alt='picture'>
			<h3>
				<div class="rating_star" style="display:inline-block;">
					<%= rating_for @seller, "user_review", disable_after_rate: true, imdb_avg: true %>
				</div>
				<%= @seller.name %>
			</h3>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 id="asking" class="panel-title text-center">Your Review</h3>
		</div>
		<div class="panel-body text-center">
			<%= rating_for_user @seller, current_user, "user_review", :disable_after_rate => false %>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<% 21.times do %>
				<% @product.location.chop! %>
			<% end %>
		    <h3 class="panel-title text-center"><%= @product.location %></h3>
		</div>
		<div id="googleMap" class="panel-body" style="height:300px"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title text-center">Followers (<%= @followers.count %>)</h3>
	 	</div>
		<div class="panel-body">
	    <% @followers.each do |follower| %>
		    <img src="<%= follower.user.image %>" alt="<%=  follower.user.name %>" />
	    <% end %>
	  </div>
	  <div class="panel-body">
	  	<% if @following %>
		  <a href=""><button type="button" class="btn btn-lg btn-block">Following</button></a>
	    <% else %>
		  <a href=""><button type="button" class="btn btn-lg btn-block">Follow</button></a>
		<% end %>
	  </div>
	</div>
</div>
<script>
$("#googleMap").html("<%= escape_javascript(render partial: 'partials/googleMap') %>");

$(function(){

var $container = $('#masonry-container');

$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector: '.box',
    columnWidth: 100
  });
});

$container.infinitescroll({
  navSelector  : '.pagination',    // selector for the paged navigation
  nextSelector : '.pagination .next_page a',  // selector for the NEXT link (to page 2)
  itemSelector : '.box',     // selector for all items you'll retrieve
  loading: {
      finishedMsg: 'No more pages to load.',
      img: 'http://i.imgur.com/6RMhx.gif'
    }
  },
  // trigger Masonry as a callback
  function( newElements ) {
    // hide new items while they are loading
    var $newElems = $( newElements ).css({ opacity: 0 });
    // ensure that images load before adding to masonry layout
    $newElems.imagesLoaded(function(){
      // show elems now they're ready
      $newElems.animate({ opacity: 1 });
      $container.masonry( 'appended', $newElems, true );
    });
  }
);

});
</script>
