<div class="container">
  <div class="row">
    <h2>All Users:</h2>
    <table class="table">
    <% @users.each do |u| %>
      <tr>
        <td>
          <img src="<%= u.image %>" alt="<%= u.name %>" />
        </td>
        <td>
          <h4><%= u.name %></h4>
        </td>
        <td>
          <% if @follows and @follows.exists?(id: u.id) %>
            <%= link_to 'Unfollow', follow_user_path(:follow => u), method: :delete, class:"btn btn-danger"%>
          <% else %>
            <%= link_to 'Follow', follow_user_path(:follow => u), method: :post, class:"btn btn-primary"%>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="row">
    <h2>Following:</h2>
    <table class="table">
    <% @follows.each do |u| %>
      <tr>
        <td>
          <img src="<%= u.image %>" alt="<%= u.name %>" />
        </td>
        <td>
          <h4><%= u.name %></h4>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
