<div class="row">
<div class="spacer"></div>
<div id="master_container" class="col-sm-11 col-md-offset-1">
	<div class="col-md-4" style="margin-top: 10px;">
	    <div class="panel panel-default">
	      <div class="panel-body">
	        	<ul class="nav nav-pills nav-stacked">
  					<li>
  						<h3>
					        <em class="fa fa-inbox fa-lg"></em>
					        <span><a href="/chats/<%= current_user.id %>">Selling</a></span>
				        </h3>
  					</li>
  					<hr>
				  	<li>
				  		<h3>
					        <em class="fa fa-paper-plane-o fa-lg"></em>
					        <span><a href="/chats/buying/<%= current_user.id  %>">Buying</a></span>
				        </h3>
				  	</li>
					<hr>
				  	<li>
				  		<h3>
						    <em class="fa fa-trash-o fa-lg"></em>
						    <span><a href="#">Trash</a></span>
						</h3>
					</li>
				</ul>
	      	</div>
	    </div>
	</div>

	<div class="col-md-8" style="margin-top: 10px;">
	    <div class="panel panel-default">
	      	<div class="panel-body">
	      		<div style="padding: 5px; background: #c0df85;">
	      			<h4 class="text-center">Buying messages</h4>
				</div>
				<% if @user_chats.any? %>
				<%  @user_chats.each do |chats| %>
		        	<div class="media">
					  <div class="media-left">
					    <a href="#">
					      <%= image_tag chats.product.avatar.url(:thumb) %>
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">
					    	<small>
					    		<b>Owner:</b>
						      		<%= chats.product.user.name %> 
						    </small> 		
						     <br>
					      	<small>
					      			<b>Product: </b>
							</small>
					      			<a href="/chats/new?product_id=<%= chats.product.id %>">
					      			<strong><%= chats.product.title  %></strong></a>
							<br>
					      	<small>
					      		<b>Date: </b><%= chats.created_at.to_s(:short)  %>
					      	</small>
					    </h4>
					    <a href="/chats/new?product_id=<%= chats.product.id %>">
					      View
					      </a>
					  </div>
					</div>
					<hr>
				<% end %>
	    	<% end %>
				


	        	      
	      </div>
	   	</div>
	</div>
  </div>
</div>
