<div class="row">
<div class="spacer"></div>
<div id="master_container" class="col-sm-11 col-md-offset-1">
	<div class="col-md-4" style="margin-top: 10px;">
	    <div class="panel panel-default">
	      <div class="panel-body">
	        	<ul class="nav nav-pills nav-stacked">
  					<li>
  						<h3>
					        <em class="fa fa-inbox fa-lg"></em>
					        <span><a href="#">Inbox</a></span>
				        </h3>
  					</li>
  					<hr>
				  	<li>
				  		<h3>
					        <em class="fa fa-paper-plane-o fa-lg"></em>
					        <span><a href="#">Sent</a></span>
				        </h3>
				  	</li>
					<hr>
				  	<li>
				  		<h3>
						    <em class="fa fa-trash-o fa-lg"></em>
						    <span><a href="#">Trash</a></span>
						</h3>
					</li>
				</ul>
	      	</div>
	    </div>
	</div>

	<div class="col-md-8" style="margin-top: 10px;">
	    <div class="panel panel-default">
	      	<div class="panel-body">
	        	
        	<% if @productchats.any? %>
				<%  @productchats.each do |p| %>
		        	<div class="media">
					  <div class="media-left">
					    <a href="#">
					      <%= image_tag p.user.image %>
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">
					    	<small>
					    		<b>From:</b>
						      		<%= p.user.name %> 
						    </small> 		
						     <br>
					      	<small>
					      			<b>Subject: </b>
							</small>
					      			<a href="/chats/show/<%= p.id %>">
										<b><%= p.product.title  %></b>
									</a>
							<br>
					      	<small>
					      		<b>Date: </b><%= p.created_at.to_s(:short)  %>
					      	</small>
					    </h4>
					    <a href="/chats/show/<%= p.id %>">
					    	View
						</a>
					  </div>
					</div>
					<hr>
				<% end %>
	    	<% end %>
	      
	      </div>
	   	</div>
	</div>
  </div>
</div>
