<div class="container">
	<div id="master_container">
		<div class="col-md-7 col-xs-12 well">	
			<h2>Ask a question</h2>
			
			<%= form_for(:chat, :url=>{:controller => 'chats', :action=>'create'}, method: :post, :html => {:class => "form-horizontal"}) do |f|   %>

			<div class="form-group">
				<div class="col-md-12 col-xs-12">
					<%= f.text_area :message, class: "form-control"  %>
					<%= f.hidden_field :product_id, :value => @product.id %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
				</div>

			</div>

			<div class="form-group">
				<div class="col-md-6 col-md-offset-6 col-xs-12">
				<%= f.submit :Send, class: "btn btn-primary pull-right col-md-6"  %>
				</div>
			</div>
				
			<% end %>

			<hr>
			<% if @chats %>
				<h2>Messages</h2>	
				<% @chats.each do |chat| %>
					<h4>
						<%= image_tag chat.user.image  %>   
							<strong><%= chat.message %> </strong> - 
							<small><%= chat.created_at.to_s(:long)  %></small>
					</h4>
					<hr> 
				<% end %>
			<% end %>
	

		</div>
		<div class="col-md-4 col-xs-12 well text-center">
			<p><img src='https://graph.facebook.com/<%= @product.user.uid %>/picture?type=large' alt='picture'></p>
			<h3><%= @product.user.name  %></h3>
			<a href="/products/<%= @product.id  %>">
			<p><%= image_tag @product.avatar.url(:medium)%></p>
			<h3><%= @product.title  %></h3>
			</a>
			<h3>Price: $<strong><%= @product.price  %></strong></h3>
		</div>
	</div>
</div>


