<div class="row">
<div id="master_container" class="col-sm-7 col-md-offset-1">

	<h1><strong>Chat</strong></h1>
	<p><a href="/products/<%= @productchats.product.id %>"><%= image_tag @productchats.product.avatar.url(:thumb)  %></a></p>	
	<h4>Product: <strong><%= @productchats.product.title %></strong> Price: $<strong><%= @productchats.product.price  %></strong></h4>
	<hr>
	<%  @productchats.chats.each do |c| %>
		<h4><%= c.user.name  %>: <strong><%= c.message %></strong><span class="pull-right"><%= c.created_at.to_s(:short)  %></span></h4>
		<hr>
	<% end %>

	<div class="col sm-10">
		<%= form_for(:reply, :url=>{:controller => 'chats', :action=>'reply'}, method: :post, :html => {:class => "form-horizontal"}) do |f|   %>

      <div class="form-group">
        <div class="col-md-12 col-xs-12">
          <%= f.text_area :message, class: "form-control"  %>
          <%= f.hidden_field :productchat_id, :value => @productchats.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-6 col-xs-12">
        <%= f.submit :Send, class: "btn btn-primary pull-right col-md-6"  %>
        </div>
      </div>
        
      <% end %>
      <p>
		<a href="/chats/<%= current_user.id %>">Back to messages</a>
	</p>
	</div>

</div>
</div>