<div class="row">
	<div class="col-sm-7 col-md-offset-1">
		<h1>My Offers</h1>
		<div class="well col-md-12">
			<a id="new" href="">New</a>
			<a id="selling" href="">Selling</a>
			<a id="buying" href="">Buying</a>
			<a id="watching" href="">Watching</a>
		</div>
		<div id='partials'></div>
	</div>
</div>

<script type="text/javascript">
	$("#partials").html("<%= escape_javascript(render partial: 'partials/new') %>");
	$("#new").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/new') %>");
		return false;
	})
	$("#selling").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/selling') %>");
		return false;
	})
	$("#buying").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/buying') %>");
		return false;
	})
	$("#watching").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/watching') %>");
		return false;
	})
</script>
