<div class="row">
	<div id="master_container" class="col-sm-7 col-md-offset-1">
		<h1>My Offers</h1>
		<div id="product_nav" class="well col-sm-12">
			<a id="new" href="">New</a> | 
			<a id="selling" href="">Selling</a> | 
			<a id="buying" href="">Buying</a> | 
			<a id="watching" href="">Watching</a>
		</div>
		<div id="product_nav" class="well col-sm-12">
			<div id='partials'></div>
		</div>
	</div>
	<div id="master_container" class="col-sm-3 col-sm-offset-1">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Followers (<%= @followers.count %>)</h3>
		  </div>
		  <div class="panel-body">
		    <% @followers.each do |follower| %>
			    <a href="/users/<%= follower.user.id %>/index"><img src="<%= follower.user.image %>" alt="<%=  follower.user.name %>" /></a>
		    <% end %>
		  </div>
		</div>
	</div>
	<div id="master_container" class="col-sm-3 col-sm-offset-1">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Following (<%= @followings.count %>)</h3>
		  </div>
		  <div class="panel-body">
		    <% @followings.each do |following| %>
			    <a href="/users/<%= following.follow.id %>/index"><img id='seller' src="<%= following.follow.image %>" alt="<%= following.follow.name %>" /></a>
		    <% end %>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#partials").html("<%= escape_javascript(render partial: 'partials/new') %>");
	$("#new").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/new') %>");
		return false;
	})
	$("#selling").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/selling') %>");
		return false;
	})
	$("#buying").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/buying') %>");
		return false;
	})
	$("#watching").click(function(){
		$("#partials").html("<%= escape_javascript(render partial: 'partials/watching') %>");
		return false;
	})
</script>
