
<div class="container">


	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>Welcome to the Kwikpost team.</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-11">
            <h3 class="page-header">Our Team</h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <center>
            <%= image_tag('Huy_Chris_Tran.jpg', :class => 'img-circle img-responsive img-center') %>
            </center>
            <h3>Chris Tran
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <center>
            <%= image_tag('malik_nur.jpg', :class => 'img-circle img-responsive img-center') %>
            </center>
            <h3>Malik Nur
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <center>
            <%= image_tag('Keng_Wei_Jack.jpg', :class => 'img-circle img-responsive img-center') %>
            </center>
            <h3>Jack Chang
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <center>
            <%= image_tag('Austin_Kihara.jpg', :class => 'img-circle img-responsive img-center') %>
            </center>
            <h3>Austin Kihara
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <center>
            <%= image_tag('Austin_Chang.jpg', :class => 'img-circle img-responsive img-center') %>
            </center>
            </center>
            <h3>Austin Chang
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
            <center>
            <%= image_tag('Augustine_Kim.jpg', :class => 'img-circle img-responsive img-center') %>
            </center>
            <h3>Augustine Kim
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        
        
    </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kwikpost 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

</div>
