<% if @product %>
	<% if product.id != @product.id %>
		<div class="product box col2">
			<h4 class="text-center">
				<a href="/products/<%= product.id %>">
				<%= image_tag product.avatar.url(:medium) %>
				<%= product.title %> - <%= number_to_currency(product.price, precision:0) %>
				</a>
			</h4>

			<% 21.times do %>
				<% product.location.chop! %>
			<% end %>

			<p style="color: #BA5624; font-weight: bold; margin: 0px auto">
				<i class="fa fa-map-marker fa-lg"></i>
				<%= product.distance_to(@location).round(2) %> miles - <%= product.location %>
			</p>
		</div>
	<% end %>
<% else %>
	<div class="product box col2">

		<a href="/products/<%= product.id %>">
			<div style="background-color:white">
				<%= image_tag product.avatar.url(:medium), :style => "border-radius: 5px; " %>
			</div>
			<h4 style="text-align:center;"><%= product.title %> - <%= number_to_currency(product.price, precision:0) %></h4>
		</a>


		<% 21.times do %>
		<% product.location.chop! %>
		<% end %>

		<p style="color: #BA5624; font-weight: bold; margin: 0px auto; text-align: center;">
			<i class="fa fa-map-marker fa-lg"></i>
			<%= product.distance_to(@location).round(2) %> miles - <%= product.location %>
		</p>
	</div>
<% end %>
