<div id="pic"></div>
<div class="container" id="main" style>
  <div style="margin-top:75px;"></div>
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <div class="panel panel-default" id="cat_back">
        <div class="panel-heading" id="cat_back">
          <h4>Categories</h4>
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked resource-list">
            <li>
              <a href="/" id="All_search">
                All
                <span class="badge pull-right"><%= @productcount %></span>
              </a>
            </li>
            <% @categories.each do |k, v| %>
            <li>
              <a href="/?category_id=<%= k.id %>">
                <span rel="tooltip" title="<%= k.name %>">
                  <%= k.name.truncate(10) %>
                </span>
                <span class="badge pull-right"><%= v %></span>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="scroll panel panel-default">
        <% if flash[:notice] %>
        <h3 class="alert alert-dismissable alert-success" id="category_div">
          <button id="clear" type="button">×</button><%= flash[:notice] %></h3>
        <% end %>
        <div class="transitions-enabled infinite-scroll clearfix centered" id="masonry-container" style="padding:7px">
          <%= render @products %>
        </div>
      </div>
      <%= will_paginate @products %>
    </div>
  </div>
</div>

<script>
$('#clear').click(function () {
  $('#category_div').remove();
  window.location.replace('/');
})
$(function () {

  var $container = $('#masonry-container');

  $container.imagesLoaded(function () {
    $container.masonry({
      itemSelector: '.box'
    });
  });

  $container.infinitescroll({
    navSelector: '.pagination', // selector for the paged navigation
    nextSelector: '.pagination .next_page a', // selector for the NEXT link (to page 2)
    itemSelector: '.box', // selector for all items you'll retrieve
    loading: {
      finishedMsg: 'No more pages to load.',
      img: 'http://i.imgur.com/6RMhx.gif'
    }
  },
// trigger Masonry as a callback
  function (newElements) {
// hide new items while they are loading
    var $newElems = $(newElements).css({
      opacity: 0
    });
// ensure that images load before adding to masonry layout
    $newElems.imagesLoaded(function () {
// show elems now they're ready
      $newElems.animate({
        opacity: 1
      });
      $container.masonry('appended', $newElems, true);
    });
  });

});
</script>
