
<div id="pic"></div>

<div class="container" id="main">
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <div class="panel panel-default" id="cat_back">
          <div class="panel-heading" id="cat_back"><h4>Categories</h4></div>
            <div class="panel-body">
              <div class="list-group">
                <a id="All_search" style="font-size:1.5em" href="/">All</a><br>
                <% @categories.each do |category| %>
                  <a style="font-size:1.5em" href="/?category_id=<%= category.id %>"><%= category.name %></a><br>
                <% end %>
              </div>
            </div>
      </div>
    </div>
<div class="col-md-10">
  <div class="scroll panel panel-default">
    <% if flash[:notice] %>
    <h3 class="alert alert-dismissable alert-success" id="category_div"><button id="clear" type="button">×</button><%= flash[:notice] %></h3>
    <% end %>
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix centered">
       
          <%= render @products %>
        
    </div>
  </div>
      <%= will_paginate @products %>   
  </div>
</div>
</div>

<script>
  $('#clear').click(function(){
    $('#category_div').remove();
    window.location.replace('/');
})

  $(function(){
    
    var $container = $('#masonry-container');
    
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector: '.box'
      });
    });
    
    $container.infinitescroll({
      navSelector  : '.pagination',    // selector for the paged navigation 
      nextSelector : '.pagination .next_page a',  // selector for the NEXT link (to page 2)
      itemSelector : '.box',     // selector for all items you'll retrieve
      loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/6RMhx.gif'
        }
      },
      // trigger Masonry as a callback
      function( newElements ) {
        // hide new items while they are loading
        var $newElems = $( newElements ).css({ opacity: 0 });
        // ensure that images load before adding to masonry layout
        $newElems.imagesLoaded(function(){
          // show elems now they're ready
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true ); 
        });
      }
    );
    
  });
</script>


